{{#with data}}

  <div class='card'>
    <div
      class='featured_image'
      style='background-image: url({{photo}})'
    ></div>
    <h2 class='featured_heading'>{{heading}}</h2>
    <p class='featured_info'>{{info}}</p>
    <a
      href='{{linkUrl}}'
      class='button featured_link'
    >{{linkText}}</a>
  </div>

{{/with}}